body {
  background-color: darkgreen;
}

h1 {
  text-align: center;
  font-size: 35px;
}

.controls {
  display: flex;
}

button {
  width: 100px;
  margin: 15px;
  border-radius: 20px;
  font-weight: 700;
}

#game-board {
  border: 10px solid red;
  height: 700px;
  background-color: lightgrey;
  border-radius: 30px;
}

.row1,
.row2,
.row3 {
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.cards {
  width: 80px;
  height: 120px;
  border: 5px solid blue;
  text-align: center;
  font-size: 105px;
  font-weight: bold;
  margin: 50px;
}

.cards > span {
  /* visibility: hidden; */
}
